@using Microsoft.AspNetCore.Identity
@using Biblio.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-account">
        <div class="user-info" id="userInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="user-details">
                <p class="user-name">@UserManager.GetUserName(User)</p>
                <p class="account-menu-text">Account Menu</p>
            </div>
            <img src="~/img/userlogo.jpg" alt="User Avatar" class="user-avatar" />

        </div>

        <div class="user-dropdown dropdown-menu dropdown-menu-end" id="userDropdown">
            <div class="dropdown-header">
                <p class="dropdown-user-name">@UserManager.GetUserName(User)</p>
                <p class="dropdown-user-email">@UserManager.GetUserAsync(User).Result.Email</p>
                <p class="dropdown-plan">@UserManager.GetUserAsync(User).Result.PlanType</p>
            </div>
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile" data-page="profile">
                <i class="nav-icon fas fa-user-circle"></i>
                <span class="nav-text">Profile</span>
            </a>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" data-page="account-settings">
                <i class="nav-icon fas fa-gear"></i>
                <span class="nav-text">Account Settings</span>
            </a>
            <a asp-controller="Notifications" asp-action="Index" class="nav-link" data-page="notifications">
                <i class="nav-icon fas fa-bell"></i>
                <span class="nav-text">Notifications</span>
            </a>
            <a href="#" class="nav-link">
                Go Pro!
                <span class="upgrade-tag m-3 mt-1 mb-1">Upgrade Now</span>
            </a>
        </div>
    </div>
}
else
{
    <div class="ms-auto d-flex gap-2">
        <a asp-area="Identity" asp-page="/Account/Login" class="nav-buttons">Sign In</a>
        <a asp-area="Identity" asp-page="/Account/Register" class="nav-buttons">Get Started</a>
    </div>
}


