# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Logs
*.log

# Other
*.DS_Store
Thumbs.db

# Static libs
wwwroot/lib/
