html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* --- Notification Badge Styles --- */
.user-account {
    position: relative; /* (عشان الجرس ياخد مكانه صح) */
}

.notification-badge {
    display: none; /* (مخفي افتراضياً) */
    position: absolute;
    top: 65px;
    right: 65px; /* (ظبط المكان ده حسب شكل الديزاين) */
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* (عشان الرقم يتوسط) */
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.notification-icon {
    display: none;
    position: absolute;
    top: 45px;
    right: 65px;
    color: #dc3545;
    font-size: 20px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* (عشان الرقم يتوسط) */
    justify-content: center;
    align-items: center;
    z-index: 10;
}