@model Biblio.Models.Borrowing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Borrowing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="VisitorID" class="control-label"></label>
                <select asp-for="VisitorID" class="form-control" asp-items="ViewBag.VisitorSelectList"></select>
                <span asp-validation-for="VisitorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookID" class="control-label"></label>
                <select asp-for="BookID" class="form-control" asp-items="ViewBag.BookSelectList"></select>
                <span asp-validation-for="BookID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FineAmount" class="control-label"></label>
                <input asp-for="FineAmount" class="form-control" />
                <span asp-validation-for="FineAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@(Html.GetEnumSelectList<Biblio.Models.BorrowingStatus>())"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
